click==8.1.8
pydantic==2.10.6
pydantic_core==2.27.2
hvac==2.3.0
aioboto3==13.3.0
types-aioboto3 [full] == 13.3.0.post1
PyYAML==6.0.2
aiohttp==3.11.13

# ces build service
authlib==1.5.1
fastapi==0.115.11
itsdangerous==2.2.0
pyseto==1.8.3
uvicorn==0.34.0

# ces build service client
httpx==0.28.1

# for celery workqueue
#celery==5.4.0
celery==5.5.0rc5
redis==5.2.1
flower==2.0.1
