# CBS build service daemon (cbsd-rs) — podman network lifecycle service
# Copyright (C) 2026  Clyso
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Creates the podman bridge network 'cbsd-rs-<deployment>' used by all
# cbsd-rs container services in the deployment. The server container is
# addressable from the worker container as 'cbsd-rs-server.<deployment>'.

[Unit]
Description=Start network for CBSD-RS container services for deployment '%i'
After=network.target
Wants=network-online.target
PartOf=cbsd-rs-%i.target
Before=cbsd-rs-%i.target

[Service]
ExecStart=podman network create --ignore cbsd-rs-%i
RemainAfterExit=yes
ExecStop=podman network rm --force cbsd-rs-%i
Type=oneshot

[Install]
WantedBy=cbsd-rs-%i.target
