# CBS build service daemon (cbsd-rs) — log rotation service
# Copyright (C) 2026  Clyso
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Oneshot service triggered by the matching timer. Runs logrotate with
# a per-deployment config and state file to avoid conflicting with the
# system-wide logrotate.

[Unit]
Description=Rotate cbsd logs for '%i' deployment

[Service]
Type=oneshot
ExecStart=/usr/sbin/logrotate --state {{cbsd_rs_data}}/logrotate.%i.state {{cbsd_rs_data}}/%i/logrotate.conf
